body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
    background-color: #f2faf7 !important;
}

nav ul {
    margin:auto;
    margin-top: 10px;
}


.navbar-brand {
	font-size: 30px !important;
	font-weight: bold;
}

.navbar-nav li {
    padding-left: 50px;
    font-size: 17px !important;
    font-weight: bold;
    text-transform: uppercase;
}

.reg {
	margin-left: 10px !important;
}

.modal-body input {
	margin-left: 40px;
	width: 320px;
}

.carousel-inner {
    height: 800px;
}

.carousel-inner img {
    transform: translateY(-30%);
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 45%;
    transform: translateY(-60%);
    text-shadow: 1px 1px 10px #000;
}

.carousel-caption h1, h3 {
	font-weight: bold;
}

.carousel-caption button {
	margin-top: 15px;
}

button {
    border-radius: 0px !important;
    font-size: 20px !important;
 }

.suggest {
    background-color: #f59c01 !important;
    color: white !important;
    margin-bottom: 50px !important;
    margin-top: -15px !important;
}

.suggest h1 {
    font-size: 50px !important;
    text-shadow: 1px 1px 10px #000;
    font-weight: bold;
}

.list {
	list-style-type: none;
	margin-top: 50px;
}

.list li {
	margin-bottom: 20px;
	margin-left: -30px;
}

.list li span {
	font-size: 18px;
}

.list img {
	width: 50px;
	margin-right: 20px;
}

.card {
	margin-left: 30px;
	margin-top: 150px;
}


.service {
    margin-top: 100px !important;
}

.squad img {
    margin-top: 40px;
    width: 60px;
}

.squad h5 {
	margin-bottom: 50px;
	margin-left: -150px;
}

.ourserv {
	background-color: #f59c01 !important;
    color: white !important;
    margin-top: 50px;
}

.ourserv img {
	width: 90px;
	margin-bottom: 50px;
	margin-top: 20px;
}

.ourserv h5 {
	text-shadow: 1px 1px 10px #000 !important;
	margin-bottom: 100px !important;
	margin-top: 50px;
	font-weight: bold;
}

.ourserv span {
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 10px #000;
}

.servcard {
	margin-left: 30px;
}

.kostil {
	background: #f59c01;
}

footer {
    padding-top: 50px;
   	background: black;

}


.cont {
	margin-top: 50px;
}

.contact {
	margin-bottom: 50px;
}

.contact p {
	font-size: 18px;
}

.kostil {
	margin-bottom: 200px;
}